.principal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-inicio-sesion {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.contenedor-inicio-sesion h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor-inicio-sesion form {
    display: flex;
    flex-direction: column;
}

.contenedor-inicio-sesion label {
    margin-bottom: 10px;
}

.contenedor-inicio-sesion input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contenedor-inicio-sesion button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; 
    box-sizing: border-box; 

}

.contenedor-inicio-sesion button:hover {
    background-color: #0056b3;
}