*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  min-height: 100vh;
  display: grid;
  background-image: url('img/fondo-login.jpg');
}
.imagen-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.imagen-fondo img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}